<div class="row">
    <table width="100%">
        <caption>Unit Information</caption>
        <tbody>
            <tr>
                <td width="30%"><label class="required">Unit Name</label></td>
                <td width="70%">
                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter First Name">
                </td>
            </tr>
            <tr>
                <td width="30%"><label class="required">Unit Code</label></td>
                <td colspan="3">
                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter First Name">
                </td>
            </tr>
            <tr>
                <td><label class="required">Unit Address</label></td>
                <td colspan="3">
                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter First Name">
                </td>
            </tr>
            <tr>
                <td><label class="required">Contact Person</label></td>
                <td colspan="3">
                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter First Name">
                </td>
            </tr>
            <tr>
                <td><label class="required">Email</label></td>
                <td colspan="3">
                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter First Name">
                </td>
            </tr>
            <tr>
                <td><label class="required">Phone Number</label></td>
                <td colspan="3">
                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter First Name">
                </td>
            </tr>
        </tbody>
    </table>
</div>
