<link href="~/Asset/plugins/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet" />
<div class="col-md-6">
    <table width="100%">
        <caption>Add New Category</caption>
        <tbody>
            <tr>
                <td width="30%"><label class="required">Category Code</label></td>
                <td width="70%" colspan="3">
                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter First Name">
                </td>
            </tr>
            <tr>
                <td width="30%"><label class="required">Category Name</label></td>
                <td colspan="3">
                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter First Name">
                </td>
            </tr>
            <tr>
                <td><label class="required">Category Description</label></td>
                <td colspan="3">
                    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter First Name">
                </td>
            </tr>
            <tr>
                <td><label>Is Active </label></td>
                <td>
                    <input id="userActive" type="checkbox" checked data-toggle="toggle" data-width="100" data-on="Yes" data-off="No" data-size="small" data-onstyle="info">
                </td>
            </tr>
            <tr>
                <td><label>Enable Product Group </label></td>
                <td>
                    <input id="userActive" type="checkbox" checked data-toggle="toggle" data-width="100" data-on="Yes" data-off="No" data-size="small" data-onstyle="info">
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="1">
                    <input type="button" class="form-control form-control-sm btn btn-success" id="exampleInputEmail1" value="Add New">
                </td>
                <td ></td>
            </tr>
</table>
</div>
<!-- Bootstrap Switch -->
<script src="~/Asset/plugins/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>